body {
    background-color: #F0F8FF;
    font-family: Arial, Helvetica, sans-serif;
  }

.header {
text-align:center;
color: #002D62;
}

table{
    margin-left: auto;

    margin-right: auto;
}

table, th, td {

    border: 1px solid black;
    background-color: #89CFF0;
    border-collapse: collapse;
    
    }

    th, td {
        padding: 5px;
        width: 90px;
        text-align: center;
        
        }

    th {
        background-color: #002D62;
        color: white;
        
    }

    table tr th:nth-child(4){
        width: 200px;
    }

    caption {
        color: #002D62;
        font-weight: bold; 
    }

    input{
        width: 70px;
        font-family : inherit;
        font-size: 1em;
    }

    #new-game {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family : inherit;
        font-size: 1em;
    }

    select{
        font-family : inherit;
        font-size: 1em;
    }

    .total {
        font-weight: bold; 
    }


