body {
    background-color: #F0F8FF;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align:center;
    color: #002D62;
}

.info{
    margin-left:20px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

#hole-in-one{
    position:absolute; 
    margin-left: 12px;
    font-weight: bold;
    color: green;
 }

table, th, td {
    border: 1px solid black;
    background-color: #89CFF0;
    border-collapse: collapse;    
}

th, td {
    padding: 5px;
    width: 75px;
    text-align: center;
}

th {
    background-color: #002D62;
    color: white;        
}

table tr th:nth-child(4){
     width: 170px;
}

caption {
    color: #002D62;
    font-weight: bold; 
}


.input-text {
    width: 40px;
}

input{
    font-family : inherit;
    font-size: 1em;
}

#new-game {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family : inherit;
    font-size: 1em;
}

select{
    font-family : inherit;
    font-size: 1em;
}

.total {
    font-weight: bold; 
}


